@import './base.css';

img {
    width: 80px;
    height: auto
}

.float-right {
    float: right
}

@media screen and (max-width: 480px) {
    .container {
        flex-direction: column !important;
    }
}
